<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_WALLPAPER_INTERNAL" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    
    <application>
        <service
            android:name="com.cn.core.ui.view.globalblur.GlobalBlurService"
            android:enabled="true"
            android:exported="false" />
        
        <service
            android:name="com.cn.core.ui.view.wallpaperblur.MediaProjectionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
    </application>
    
</manifest>
